// Place all the styles related to the API::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.auth-input-form {
  text-align: center;
  height: 200px;
}


.ReactModal__Content .ReactModal__Content--after-open {
  height: 120px;
}
