@import "variables";

.subjects-sidebar{
  display: flex;
  background-color: $off-white;
  width: 22vw;
  height: calc(100vh-64px);
  flex-direction: column;
  align-self: flex-start;
  margin-left: 8px;
  ul {
    padding: 0 10px 0 0;
    width: 300px;
    height: calc(100% - 20px);
    a{
      text-decoration: none;
      li:hover{
        color: $off-white;
        background-color: $lighter-blue;
      }
    }
  }
}


.subject-list-title{
  font-size: 28px;
  text-align: left;
  margin: 10px;
  color: $off-black;
  padding-top: 5px;
}

.subject-list-content{
  height: 100%;
  display: flex;
}

.subject-list-ul{
  list-style: none;
  width: 100%;
  padding: 0;
}

.subject-index-item{
  width: 75%;
  text-align: center;
  color: $light-blue;
  padding: 3px 0px 3px 0px;
  border-bottom: 1px solid gray;
  a{
    color: $light-blue;
    text-decoration: none;
    &:hover{

    }
  }
}
