@import "variables";

.subjects-sidebar{
  display: flex;
  background-color: $off-white;
  width: 25vw;
  height: calc(100vh-64px);
  flex-direction: column; //
  align-self: flex-start;
  overflow: auto;
  > ul {
    padding: 0 10px 0 0;
    width: 300px;
    height: calc(100% - 20px);
    overflow: scroll;

    > li {
      a {
        display: block;
      }

      // &:active {
      //   background-color: gray;
      // }
    }
  }
}

.subject-list-title{
  font-size: 28px;
  text-align: left;
  color: $off-black;
  padding-top: 5px;
}

.subject-list-content{
  height: 100%;
  display: flex;
}

.subject-list-ul{
  list-style: none;
  width: 100%;
  padding: 0;
}

.subject-index-item{
  text-align: center;
  color: $light-blue;
  padding: 3px 0px 3px 0px;
  border-bottom: 1px solid black;
}
