@import "variables";

.subjects-sidebar{
  display: flex;
  background-color: $off-white;
  width: 22vw;
  height: calc(100vh-64px);
  flex-direction: column;
  align-self: flex-start;
  margin-left: 8px;
  ul {
    padding: 0 10px 0 0;
    width: 300px;
    height: calc(100% - 20px);
    a{
      text-decoration: none;
      display: flex;
      justify-content: flex-end;
      li:hover{
        color: $off-white;
        background-color: $lighter-blue;
      }
    }
    .new-subject-form{
      padding: 5px;
      input{
        margin: 5px;
      }
    }
  }
}


.new-btn-img{
  height: 15px;
  width: 15px;
}

.fa-plus{
  height: 100%;
  width: 100%;
}

.render-newSubject-btn{
  margin-top: 5px;
  padding: 0;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.subject-list-title{
  font-size: 28px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 10px;
  color: $off-black;
  padding-top: 5px;
}

.subject-list-content{
  height: 100%;
  display: flex;
}

.subject-list-ul{
  list-style: none;
  width: 100%;
  padding: 0;
  .new-subject-form-wrapper{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    >h4{
      margin-left: 10px;
    }
    .subject-create-btn-wrapper{
      display: flex;
      flex-direction: row;
      .new-subject-btn{
        background-color: $light-blue;
        box-sizing: border-box;
        border-style: outset;
        margin: 5px;
        border: 2px solid;
        font-family: $nunito;
        font-weight: normal;
      }
    }
  }
}

.subject-index-item{
  width: 75%;
  text-align: center;
  color: $light-blue;
  padding: 3px 0px 3px 0px;
  border-bottom: 1px solid gray;
  a{
    color: $light-blue;
    text-decoration: none;
    &:hover{

    }
  }
}
