@import "variables";

.deck-list-container{
  display: flex;
  margin: 20px 10px;
  content{
    width: 100%;
  }
}

.deck-list-header{
  color: $light-blue;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  border-bottom: 2px solid $off-black;
  .deck-list-options{
    padding-bottom: 4px;
    button{
      color: white;
    }
  }
  .deck-header{
    display: flex;
    align-self: center;
  }
}

.deck-options{
  padding: 3px;
  position: relative;
  top: 10px;
  transition: all 0.3s ease 0s;
  height: 100%;
  a:hover{
    text-decoration: underline;
  }
}

.deck-list-ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  color: $light-blue;
  width: 100%;
  li{
    border-bottom: 3px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding: 5px 8px 0 8px;
    transition: all 0.2s ease 0s;
    &:hover{
      background-color: $off-white;
      color: $reveal-blue;
    }
    .deck-title{
      align-self: flex-start;
      font-weight: bold;
      font-family: $nunito;
      h4{
        color: $light-blue;
      }
    }
    .deck-study-button{
      align-self: flex-end;
    }
    .deck-card-count{
      font-size: 14px;
      display: block;
      width: 50%;
      opacity: .6;
    }
  }
}

.new-deck-form-div{
  margin: 8px;
  display: flex;
  flex-direction: column;
  .deck-title-input{
    width: 60%;
    margin-left: 5px;
  }
  .deck-action-btns{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    button{
      margin: 5px 5px 5px 0px;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  .dropdown-btn{
    border: none;
    cursor: pointer;
    background-color: $light-blue;
    color: white;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    left: 30px;
    top: -4px;
    z-index: 1;
    .deck-link-wrapper{
      color: $off-white;
      border-radius: 2px;
      text-decoration: none;
      display: block;
      height: 30px;
      width: 75px;
      display: flex;
      justify-content: center;
      background-color: $light-blue;
      transition: all 0.3s ease 0s;
      &:hover{
        background-color: #1E86B4;
        color: white;
      }
      a{
        padding: 5px;
        font-family: $nunito;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 14px;
        display: flex;
        align-items: center;
      }
      .deck-delete-btn{
        color: $off-white;
        width: 100%;
        &:hover{
          color: white;
          background-color: $delete-red;
        }
      }
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.deck-item-outer{
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .deck-item-inner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .deck-title{
      display: flex;
      align-self: center;
    }
  }
}

.fa-play-circle-o{
  padding: 3px;
}
