@import "variables";

.deck-list-header{
  color: $light-blue;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border-bottom: 2px solid $off-black;
  .deck-list-options{
    padding-bottom: 4px;
  }
  .deck-header{
    display: flex;
    align-self: center;
  }
}

.deck-list-ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  color: $light-blue;
  width: 100%;
  li{
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    .deck-title{
      align-self: flex-start;
      font-weight: bold;
      font-family: $nunito;
    }
    .deck-study-button{
      align-self: flex-end;
    }
    .deck-card-count{
      opacity: .6;
    }
  }
}

.new-deck-form-div{
  margin: 8px;
  display: flex;
  flex-direction: column;
  .deck-title-input{
    width: 60%;
  }
  .deck-action-btns{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    button{
      margin: 5px 5px 5px 0px;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  .dropdown-btn{
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $light-blue;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    .deck-link-wrapper{
      color: black;
      text-decoration: none;
      display: block;
      border-top: 1px solid black;
      display: flex;
      justify-content: center;
      &:hover{
        background-color: $lighter-blue;
      }
      a{
        padding: 5px 10px 5px 10px;
        font-family: $nunito;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 11px;
      }
    }
  }
}

.dropdown:hover .dropdown-content {
    display: block;
}

.deck-item-outer{
  padding-top: 5px;
  padding-bottom: 5px;
}
