.home-outer{
  /*display: flex;*/
}

form.search {
  /*position: relative;*/
  display: flex;
  justify-content: center;
  top: 150px;
  padding-top: 150px;
  align-items: center;
  width: 100%;
  /*margin:50px auto;*/
}

.greetHeader {
  /*position: relative;*/
  width: 100%;
  padding-top: 100px;
  /*top: 125px;
  left: 15px;*/
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-input {
  padding: 8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
}

.search-button {
  padding: 6px 15px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}
