@import "variables";
@import "calc";

.home-inner{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 80px;
}

.contrast-block{
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: .5;
}

.home-outer {
    background: url(http://res.cloudinary.com/dq4hfogl5/image/upload/v1489680494/031715-students_k3becg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    width: 100vw;
    height: calc(100vh - 64px);
}

form.search {
  display: flex;
  justify-content: center;
  top: 150px;
  align-items: center;
  width: 100%;
  opacity: .99;
  /*margin:50px auto;*/
}

.greetHeader {
  /*position: relative;*/
  width: 100%;
  // padding-top: 100px;
  /*top: 125px;
  left: 15px;*/
  color: white;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1{
    margin: 15px;
  }
  h3{
    margin: 15px;
  }
}

.search-input {
  padding: 8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border: 2px solid #dbdbdb;
  border-right: 0px;
}

.search-input:focus{
  outline : none;
}

.search-button {
  padding: 8px 15px;
  border:2px solid #dbdbdb;
  background-color:#207cca;
  color:#fafafa;
  border-left: 0px;
}
