@import "variables";

.home-inner{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 60px;
  width: 90vw;
  padding: 2vh 5vw 2vh 5vw;
  background-color: black;
  opacity: .9;
}

.home-outer {
    background: url(http://res.cloudinary.com/dq4hfogl5/image/upload/v1489680494/031715-students_k3becg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    display: flex;
    opacity: .7;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    width: 100vw;
    height: calc(100vh - 64px);
}

form.search {
  display: flex;
  justify-content: center;
  top: 150px;
  margin-top: 15px;
  align-items: center;
  width: 100%;
}

.greetHeader {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  color: $off-white;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1{
    margin: 15px;
    font-size: 64px;
  }
  h3{
    margin: 15px;
    font-size: 48px;
  }
}

.search-input {
  padding: 8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border: 2px solid #dbdbdb;
  border-right: 0px;
  color: black;
}

.search-input:focus{
  outline : none;
  background-color: $off-white;
  opacity: .8;
}

.search-button {
  padding: 8px 15px;
  border:2px solid #dbdbdb;
  background-color:#207cca;
  color:#fafafa;
  border-left: 0px;
}
