body {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.site-logo {
  // background: image-url("http://res.cloudinary.com/dq4hfogl5/image/upload/v1489641094/icon_045720_256_mwqsja.png") left center / auto 30px no-repeat;
  height: 30px;
  width: 30px;
  background: url(https://cloudinary.com/console/media_library#/dialog/image/upload/icon_045720_256_mwqsja) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.top-menu {
  background: #333333;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  border-bottom: 2px solid #D96C06;
  height: 60px;
}

nav{
  justify-content: space-around;
  flex: 1;
  display: flex;
}

nav>ul{
  list-style: none;
}

nav.left{
  float: left;
  position: relative;
  right: 80px;
}

.site-title {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bolder;
  padding-left: 5px;
}

nav.right{
  float: right;
}

nav li {
  display: inline;
  padding: inherit;
  margin: inherit;
  color: white;
  text-decoration: none;
}

nav li:hover {
  display: inline;
  padding: inherit;
  margin: inherit;
  color: white;
  text-decoration: none;
}

nav li div {
  display: inline;
  padding: inherit;
  margin: inherit;
  color: white;
  text-decoration: none;
}

nav li a{
  color: white;
  text-decoration: none;
}

nav li a:hover{
  color: #2292A4;
}

button {
  background-color: #F5EFED;
  border-radius: 3px;
}

button:hover {
  background-color: #2292A4;
  cursor: pointer;
}

nav.right #last{
  padding-right: 20px;
}
