@import "variables";

.outer-study-main{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  font-family: $nunito;
  background-color: $off-white;
}

.progress-sidebar-outer{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $off-black;
  color: $off-white;
  >a{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .deck-title-header{
    background-color: $gray;
    align-self: flex-start;
    width: 100%;
    height: 40px;
    display: flex;
    span{
      align-self: center;
      color: $light-gray;
      margin: 12px;
      font-size: 18px;
      span{
        color: white;
      }
    }
  }
}

.card-study-outer{
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  header{
    text-align: right;
    width: 100%;
  }
  main{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    border-radius: 2px;
    background-color: white;
    div{
      // border: 1px solid gray;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 50px;
    }
  }
}

.reveal-rate-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  background-color: $reveal-gray;
  width: 100%;
  height: 10vh;
  div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 3px 4px rgba(0,0,0,0.25);
    color: $reveal-blue;
    .rating-1{
      background-color: $rating-one-color;
      color: $off-white;
    }
    .rating-2{
      background-color: $rating-two-color;
      color: $off-white;
    }
    .rating-3{
      background-color: $rating-three-color;
      color: $off-white;
    }
    .rating-4{
      background-color: $rating-four-color;
      color: $off-white;
    }
    .rating-5{
      background-color: $rating-five-color;
      color: $off-white;
    }
  }
  &:hover{
    cursor: pointer;
  }
}

.progress-nav-buttons{
  padding: 10px 40px;
  background-color: #29A5DC;
  text-decoration: none;
  font-style: none;
  border-radius: 3px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
  &:hover{
    cursor: pointer;
    background-color: $light-blue;
  }
}

.rc-progress-circle{
  width: 70%;
  padding: 5vh 20px;
  
}

.progress-stats{
  width: 50%;
  position: relative;
  bottom: 33vh;
  font-size: 48px;
  text-align: center;
  font-weight: 100;
  font-family: $nunito;
}
