@import "variables";

.subject-detail-outer{
  padding: 10px;
  color: white;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  width: 75vw;
  height: 100%;
  background-color: #eeeeee;
}

.subject-title-header{
  color: $orange;
  font-size: 36px;
  margin-bottom: 15px;
}

.deck-list-ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  .deck-item-inner{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    .deck-title{
      align-self: flex-start;
    }
    .deck-study-button{
      align-self: flex-end;
    }
  }
}
