@import "variables";

.subject-detail-outer{
  padding: 10px;
  color: white;
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  width: 75vw;
  height: 100%;
  background-color: $white;
  .subject-detail-inner{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .current-learners-outer{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 5px;
    .current-learners{
      // border: 1px solid gray;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

.subject-title-header{
  color: $orange;
  font-size: 36px;
  margin-bottom: 15px;
}

.deck-list-ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  color: $light-blue;
  width: 100%;
  li{
    border-bottom: 1px solid gray;
    .deck-item-inner{
      display: flex;
      justify-content: space-between;
      .deck-title{
        align-self: flex-start;
        font-weight: bold;
        font-family: $nunito;
      }
      .deck-study-button{
        align-self: flex-end;
      }
    }
    .deck-card-count{
      opacity: .6;
    }
  }
}

.deck-item-li{
  padding-top: 5px;
  padding-bottom: 5px;
}
