$light-blue: #17A3DC;
$lighter-blue: #55B7E3;
$orange: #FF8A47;
$off-white: #F5F5F5;
$off-black: #303030;
$light-gray: #B0B0B0;
$gray: #4A4A4A;
$white: #FEFEFE;
$delete-red: #C9302C;
$rating-one-color: #AA0080;
$rating-two-color: #FF8A47;
$rating-three-color: #FFDD00;
$rating-four-color: #7FAE2E;
$rating-five-color: #00A8D7;
$reveal-gray: #DADBDB;
$reveal-blue: #40B8DA;
$progess-blue: #29A5DC;
$link-blue: #00AADE;

// $nunito: 'Nunito', sans-serif;
$nunito: 'Montserrat', sans-serif;
