<!DOCTYPE html>
<html>
  <head>
    <title>MemRizr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src='http://widget.cloudinary.com/global/all.js'></script>
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
